header {
height: 5em;
background-color: white;
width: 100%;
border-bottom: solid 2px grey;
box-shadow: 0 4px 6px rgb(185, 180, 180);
}
nav {

    margin: auto;
    /* height: 100%; */
    /* background-color: green; */
    text-align: center;
    padding: 1.25em 0 0 0;
}

body {
    background-color: cornflowerblue;
    margin: 0;
}
button {
    background-color: royalblue;
    color: white;
    border: transparent;
    border-radius: 0.25em;
}
.navButt {
    float: right;
    height: 2.25em;
    width: 6em;
    margin:  0 1.25em 0 0; 
    font-size: larger;
}
form {
    padding: 4em 0 0 0;
}
#signup {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 36em;
    border-radius: .5em;
    border: transparent;
    box-shadow: 4px 4px 6px grey;
}
h1 {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: purple; */
    margin: 1em 0 0 .75em;
}
.signbar {
    width: 90%;
    height: 2em;
    font-size: large;
    padding: 0 0 0 .5em;
    margin:  .5em;
}
#signButt {
    width: 94%;
    height: 2em;
    font-size: large;
    padding: 0 0 0 .5em;
    margin:  1em 0 0 0;
}
#botField {
    margin: 3em 0 0 0;
}
.bot {
    height: 5em;
    width: 5em;
}